<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="layout/default">
<head lang="en">
    <title>RemoteCompiler</title>
</head>
<body>
<div class="row" layout:fragment="content">
    <div class="col s6 offset-s3">
        <form th:action="@{/logout}" method="post" class="col s12">
           <center><b class="indigo-text center" th:inline="text">Hello [[${#httpServletRequest.remoteUser}]]!</b> <input type="submit" value="Sign Out"/> </center>
        </form>
    </div>
    <br/>
    <h4 class="indigo-text center">Send the zipped project</h4>
    <div class="col s6 offset-s3">
        <div id="errorMessage" class="card-panel red lighten-2"  th:if="${exception}">
            <span class="card-title" th:text="${exception.message}"></span>
        </div>
        <form action="/send" method="post" class="col s12" enctype="multipart/form-data">

            <div class="row center">
                <div class="input-field col s6 offset-s3">
                    <input id="send" name="projectFile" type="file"
                           class="validate"/>
                    <input type="submit" value="Send"/>
                </div>
            </div>
        </form>
    </div>
</div>
</body>
</html>